{% load staticfiles %}
<div class="header">
  <div>
    <a href="http://www.outdoorconcept.at/overhead/index.htm"><img class="logo" src="{% static 'siebert/images/oc_logo.jpeg' %}"/></a>
    <img class="schema" src="{% static 'siebert/images/siebert_schema.jpeg' %}"/>
  </div>
  <div>
    <h1>Berechnung der Seilzugkraft bei horizontal gespannten Seiten</h1>
    <p>Auf Basis der Siebert-Formel<br />
    Überarbeitet unter Berücksichtigung der EN 15567:2013</p>
    <img class="formula" src="{% static 'siebert/images/siebert_formula.jpeg' %}"/>
  </div>
</div>

<br clear="both" />

<p class="alert alert-danger safety_advice" role="alert">Bitte beachten Sie die unten angeführten <a href="#safety_advice">Sicherheitshinweise</a>.</p>

<form name="SiebertForm" novalidate>
  <fieldset>
    <div class="form-group">
      <p class="required">Handelt es sich um einen Flying Fox (Zipline)?</p>
      <label class="radio-inline">
        <input type="radio" ng-model="siebert.flyingFox" name="flyingFox" value="1" id="isFlyingFox"
               required ng-change="calculate()"> ja
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="siebert.flyingFox" name="flyingFox" value="0" id="isNotFlyingFox"
               required ng-change="calculate()"> nein
      </label>
    </div>

    <div id="nrPersons" class="form-group" ng-class="{'has-error': numberPatternMinError(SiebertForm.nrPersons) || SiebertForm.nrPersons.$error.max}">
      <label for="nrPersons"><span class="required">Wie viele Personen dürfen dürfen das Element gleichzeitig verwenden?</span>
        <p class="help-block">Muss in Beschilderung und Betriebshandbuch wiederzufinden sein.</p>
      </label>
      <input type="number" name="nrPersons" ng-model="siebert.nrPersons" id="nrPersons" class="form-control"
             min="1" max="100" required pattern="^\d+$" number-max-length="3" ng-change="calculate()">
      <div class="help-block">
        <span ng-if="numberPatternMinError(SiebertForm.nrPersons)">Bitte eine positive Ganzahl eingeben.</span>
        <span ng-if="SiebertForm.nrPersons.$error.max">Die Anzahl der Personen ist zu groß.</span>
      </div>
    </div>
  </fieldset>

  <fieldset class="form-horizontal">
    <div class="form-group variable">
      <label for="load" class="col-sm-2 control-label required">Personenlast</label>
      <div class="col-sm-3 input-group">
        <span class="input-group-addon variable-label">p</span>
        <input type="number" name="load" ng-model="siebert.p" id="load" class="form-control" readonly tabindex="-1">
        <span class="input-group-addon">kg</span>
      </div>
      <div class="col-sm-7 variable-help">
        <p>Laut EN 15567:2013 müssen hier 600kg für die erste Person und 80kg für jede weitere Person berechnet werden. Ausnahme: Bei Flying Fox (Zipline) muss mit 300kg kalkuliert werden.</p>
      </div>
    </div>

    <div class="form-group variable"
         ng-class="{'has-error': numberMinMaxError(SiebertForm.weight)}">
      <label for="weight" class="col-sm-2 control-label required">Seilgewicht</label>
      <div class="col-sm-3 input-group">
        <span class="input-group-addon variable-label">q</span>
        <input type="number" name="weight" ng-model="siebert.q" id="weight" class="form-control"
               min="0" max="100" required  ng-change="calculate()">
        <span class="input-group-addon variable-unit">g/m</span>
      </div>
      <div class="col-sm-7 variable-help">
        <p>Das Seilgewicht finden Sie auf den Herstellerangaben zu Ihrem Seil.</p>
      </div>
      <div class="help-block">
        <span ng-if="SiebertForm.weight.$error.number">Bitte eine Zahl eingeben.</span>
        <span ng-if="SiebertForm.weight.$error.min">Das Seilgewicht kann nicht negativ sein.</span>
        <span ng-if="SiebertForm.weight.$error.max">Das Seilgewicht ist zu groß.</span>
      </div>
    </div>

    <div class="form-group variable"
         ng-class="{'has-error': numberMinMaxError(SiebertForm.slack)}">
      <label for="slack" class="col-sm-2 control-label required">Durchhang</label>
      <div class="col-sm-3 input-group">
        <span class="input-group-addon variable-label">f</span>
        <input type="number" name="slack" ng-model="siebert.f" id="slack" class="form-control"
               min="0" max="100" required  ng-change="calculate()">
        <span class="input-group-addon variable-unit">m</span>
      </div>
      <div class="col-sm-7 variable-help">
        <p>Distanz, zwischen der gedachten horizontalen Linie zwischen den beiden Anschlagpunkten (Sehne) und dem tiefsten Punkt des Seiles unter Belastung.</p>
      </div>
      <div class="help-block has-error">
        <span ng-if="SiebertForm.slack.$error.number">Bitte eine Zahl eingeben.</span>
        <span ng-if="SiebertForm.slack.$error.min">Der Durchhang kann nicht negativ sein.</span>
        <span ng-if="SiebertForm.slack.$error.max">Der Durchhang ist zu lang.</span>
      </div>
    </div>

    <div class="form-group variable"
         ng-class="{'has-error': numberMinMaxError(SiebertForm.length)}">
      <label for="length" class="col-sm-2 control-label required">Spannweite</label>
      <div class="col-sm-3 input-group">
        <span class="input-group-addon variable-label">l</span>
        <input type="number" name="length" ng-model="siebert.l" id="length" class="form-control"
               min="0" max="100" required  ng-change="calculate()">
        <span class="input-group-addon variable-unit">m</span>
      </div>
      <div class="col-sm-7 variable-help">
        <p>Direkte Distanz zwischen den beiden Anschlagpunkten (Sehne).</p>
      </div>
      <div class="help-block has-error">
        <span ng-if="SiebertForm.length.$error.number">Bitte eine Zahl eingeben.</span>
        <span ng-if="SiebertForm.length.$error.min">Die Spannweite kann nicht negativ sein.</span>
        <span ng-if="SiebertForm.length.$error.max">Die Spannweite ist zu lang.</span>
      </div>
    </div>
  </fieldset>

  <fieldset class="form-horizontal">
    <div class="form-group variable">
      <label for="tensionForceExl" class="col-sm-2 control-label">Seilzugkraft<br />
        <span class="description">exklusive Faktor</span>
      </label>
      <div class="col-sm-3 input-group">
        <span class="input-group-addon variable-label">Fz</span>
        <input type="number" name="tensionForceExl" ng-model="siebert.fz_excl"
               id="tensionForceExl" class="form-control" readonly tabindex="-1" >
        <span class="input-group-addon">kN</span>
      </div>
      <div class="col-sm-7 variable-help">
        <p>Dient der Tragwerkskalkulation. Je nach Art des Tragwerks (z.B. Bäume, Stahl- oder Betonkonstruktion etc.) muss hier mit dem jeweiligen Faktor multipliziert werden.</p>
      </div>
    </div>
    <div class="form-group variable">
      <label for="tensionForceIncl" class="col-sm-2 control-label">Seilzugkraft<br />
        <span class="description">inklusive Faktor</span>
      </label>
      <div class="col-sm-3 input-group">
        <span class="input-group-addon variable-label">Fz</span>
        <input type="number" name="tensionForceIncl" ng-model="siebert.fz_incl"
               id="tensionForceIncl" class="form-control" readonly tabindex="-1">
        <span class="input-group-addon">kN</span>
      </div>
      <div class="col-sm-7 variable-help">
        <p>Minimale Bruchlast der Elemente der Sicherheitsführung, wie etwa Stahlseil, Stahlseiklemmen, Verpressungen, Rapidglieder, Schäkel etc.</p>
      </div>
    </div>
  </fieldset>

  <hr />
  <p>Füllen Sie die Felder unterhalb dieser Linie aus, wenn Sie die Berechnung ausdrucken und zur Zertifizierung einreichen.</p>

  <fieldset class="form-horizontal">
    <div class="form-group">
      <label for="developer" class="col-sm-3 control-label">Bauträger</label>
      <div class="col-sm-9">
        <input type="text" name="developer" ng-model="siebert.developer" id="developer" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="location" class="col-sm-3 control-label">Standort des Seilgartens</label>
      <div class="col-sm-9">
        <input type="text" name="location" ng-model="siebert.location" id="location" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="description" class="col-sm-3 control-label">Bezeichnung der Übung</label>
      <div class="col-sm-9">
        <input type="text" name="description" ng-model="siebert.description" id="description" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="number" class="col-sm-3 control-label">Nummer der Übung</label>
      <div class="col-sm-2">
        <input type="number" name="number" ng-model="siebert.number" id="number" class="form-control" min="1">
      </div>
      <label for="date" class="col-sm-3 control-label">Datum</label>
      <div class="col-sm-3">
        <input ng-if="modernizr.inputtypes.date" name="date" ng-model="siebert.date" type="date" id="date" class="form-control">
        <div ng-if="!modernizr.inputtypes.date" class="input-group">
          <input date-picker="{$ datePickerOptions $}"
                 name="date" ng-model="siebert.date" type="date" id="date" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default ui-datepicker-trigger" tabindex="-1" type="button">
              <span class="glyphicon glyphicon-calendar"></span>
            </button>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group buttons col-sm-offset-3 col-sm-9">
      <div class="row">
        <div class="col-sm-4">
          <button type="submit" class="btn-default btn" accesskey="s"
                  ng-click="print()" ng-disabled="!SiebertForm.$valid && window.navigator.onLine">Formular Drucken</button>
        </div>
        <div class="col-sm-8" ng-show="!SiebertForm.$valid">
          Um das Formular auszudrucken, müssen Sie zunächst alle mit <span class="required"></span> markierten Felder ausfüllen.
        </div>
      </div>
    </div>
  </fieldset>
</form>

<a name="safety_advice"></a>
<div class="panel panel-danger">
  <div class="panel-heading">
    <h4 class="panel-title">Wichtige Sicherheitshinweise und Anmerkungen</h4>
  </div>
  <div class="panel-body">
    <p>Bitte beachten Sie, dass mit dieser Formel lediglich Kräfte zwischen zwei annähernd horizontal liegenden Anschlagpunkten berechnet werden können.</p>
    <p>Für Berechnungen von nicht horizontalen Verspannungen, seitlichen Abspannungen, vertikalen Lasten, Geschwindigkeiten von Zipline Fahrten, Holzbelastbarkeit oder für Belastungstests von diversen Komponeneten etc. kontaktieren Sie bitte office(at)outdoorconcept.at Tel. +43 676 43 13 959 oder Ihren Statiker.</p>
    <p>Eine Diskussion zu dieser Formel finden Sie im <a href="http://www.rcforum.cc" target="_blank" title="http://www.rcforum.cc">RopeCourseForum</a>.</p>
    <p><em>outdoorconcept</em> stellt lediglich diese Berechnungshilfe zur Verfügung und haftet nicht für die korrekte Anwendung oder Datenerhebung.</p>
  </div>
</div>

<p class="colophon">© <a href="http://www.outdoorconcept.at">www.outdoorconcept.at</a> {% now "Y" %} / Philipp Strasser mit freundlicher Genehmigung von Walter Siebert.</p>
