<table class="legend">
  <tbody>
    <tr>
      <td><span class="icon-lg protection"></span></td>
      <td>
        The blue lines show the safety wires or rings of the element.<br />
        Please understand, that you are not facing construction plans. Helmets or possible redundancies are not shown.
      </td>
    </tr>
    <tr>
      <td><span class="icon-lg equipment"></span></td>
      <td>
        The black lines show the action part of the element.
      </td>
    </tr>
    <tr>
      <td><span class="icon down"></span></td>
      <td>
        Direction of use of the element.
      </td>
    </tr>
    <tr>
      <td><span class="icon accessible"></span></td>
      <td>
        Some elements can be constructed for wheelchair use. Most other elements are capable for people with different kinds of handicaps.
      </td>
    </tr>
    <tr>
      <td><span class="icon child_friendly"></span></td>
      <td>
        Most elements can be constructed for the use of kids, this symbol labels the elements which are most fun for kids.
      </td>
    </tr>
    <tr>
      <td><span class="icon ssb"></span></td>
      <td>
        All elements presented can be continuously secured with the SSB® System within secunds.
      </td>
    </tr>
    <tr>
      <td><span class="icon powerfan"></span></td>
      <td>
        Can be continuously secured with the ssb System and slowed down with the POWERFAN.
      </td>
    </tr>
    <tr>
      <td><canvas difficulty-plot ng-model="difficulty_legend" width="60" height="34"></canvas></td>
      <td>
        Grade of difficulty in use of an element. Note, that this symbol does not show the grade of difficulty in construction.
      </td>
    </tr>
  </tbody>
</table>
