<table class="legend">
  <tbody>
    <tr>
      <td><span class="icon-lg protection"></span></td>
      <td>
        Die blauen Linien kennzeichnen den sicherungsrelevanten Teil der Übung, also z.B. das Sicherungsseil oder einen Sicherungsring.<br />
        Bitte beachten Sie, dass es sich hier lediglich um Symbolzeichnungen handelt und Helme oder mögliche redundante Sicherungen nicht dargestellt sind.
      </td>
    </tr>
    <tr>
      <td><span class="icon-lg equipment"></span></td>
      <td>
        Die schwarzen Linien kennzeichnen jenen Teil der Übung, der nicht der Absturzsicherung dient. Selbstverständlich darf auch dieser Teil der Übung keine unzumutbare Verletzungsgefahr in sich bergen.
      </td>
    </tr>
    <tr>
      <td><span class="icon down"></span></td>
      <td>
        Laufrichtung des Elements. Elemente können für den Aufstieg, Abstieg, horizontal, als Einbahnen usw. eingesetzt werden.
      </td>
    </tr>
    <tr>
      <td><span class="icon accessible"></span></td>
      <td>
        Einige Elemente können auch barrierefrei gebaut werden, zahlreiche anderen Elemente sind für Menschen mit besonderen Ausgangslagen (Handicap, aber nicht im Rollstuhl) geeignet.<br />
        Bitte nehmen Sie für weitere Fragen persönlich <a href="{{ contact_url }}">Kontakt</a> auf.
      </td>
    </tr>
    <tr>
      <td><span class="icon child_friendly"></span></td>
      <td>
        Dieses Symbol bezeichnet besonders kinderfreundliche Übungen. Kinderfreundlichkeit bezieht sich dabei vorwiegend auf den Spaßfaktor, da je nach Bauweise (insbesondere Länge, Seilspannung und Höhe) der Übung fast alle Elemente für kinderfreundliche Parcours verwendet werden können.
      </td>
    </tr>
    <tr>
      <td><span class="icon ssb"></span></td>
      <td>
        Alle hier vorgestellten Elemente lassen sich durch das SSB® System schnell und kostengünstig kontinuierlich sichern.
      </td>
    </tr>
    <tr>
      <td><span class="icon powerfan"></span></td>
      <td>
        Sicherung durch Kombination aus POWERFAN® und das SSB® System möglich.
      </td>
    </tr>
    <tr>
      <td><canvas difficulty-plot ng-model="difficulty_legend" width="60" height="34"></canvas></td>
      <td>
        Diese zehnstufige Skala bezeichnet den Schwierigkeitsgrad der beschriebenen Übung, wobei grün leichte und schwarz die schwierigsten Parcours kennzeichnet.<br />
        Bitte beachten Sie, dass der Schwierigkeitsgrad nicht zwingend identisch ist mit dem erforderlichen Mut oder Kraftaufwand bzw. dass der Konstruktionsaufwand hier ebenfalls nicht berücksichtigt ist. Für Fragen dazu, nehmen Sie bitte <a href="{{ contact_url }}">Kontakt</a> auf.
      </td>
    </tr>
  </tbody>
</table>
