@brand-primary: #8e85b7;

@text-color: @gray-base;
@font-family-sans-serif: Arial, Verdana, Helvetica, sans-serif;
@font-size-base: 12px;
@font-size-h1: 16px;
@line-height-base: 1.2;

@headings-font-weight: bold;
@headings-line-height: 1.2;
@headings-color: #808080;

@icon-font-path: "../../bootstrap/fonts/";

@state-info-text: darken(@brand-primary, 30%);
@state-info-bg: #ccf;

@alert-padding: 10px;

h1 {
	margin: 15px 0;
}

.container-fluid {
	max-width: 700px;
}

a.jslink {
	cursor: pointer;
}

.required:after {
	content: " *";
	color: @state-danger-text;
	font-weight: bold;
}

.panel-body p:last-child {
	margin-bottom: 0;
}
.panel-title {
	font-size: ceil((@font-size-base * 1.05));
}

.alert-danger a {
	color: @alert-danger-text;
	text-decoration: underline;
}

.modal-backdrop.in {
  filter: alpha(opacity=0);
  opacity: 0;
}

.modal-dialog {
  	margin: 15px 13px 10px 10px;
}

@media (min-width: @screen-sm-min) {
  .modal-dialog {
    margin: 30px auto;
  }
}

.modal-header {
	border: none;
	.close {
	    position: absolute;
	    right: -12px;
	    top: -12px;
		width: 30px;
		height: 30px;
		background-color: #fff;
		border: 2px solid @link-color;
		border-radius: 15px;
		box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
		color: @link-color;
		opacity: 1;
	    cursor: pointer;
		&:hover, &:focus {
			color: darken(@link-color, 15%);
			border-color: darken(@link-color, 15%);
		}
    }
}

.modal-body {
	padding: 0 15px;
}

.ui-datepicker-trigger {
	height: 28px;
    padding: 5px 10px;
}
.ui-datepicker table {
  font-size: .7em;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  font-size: .8em;
  font-weight: normal;
}

.colophon {
	margin: 20px 0;
}
