.header {
	font-weight: bold;
	div:first-child {
		float: right;
		margin-left: 5px;
		img {
			display: block;
			width: 200px;
			&.logo {
				margin-bottom: 5px;
			}
		}
	}
	img.formula {
		width: 350px;
		margin-top: 30px;
	}
}

.safety_advice {
	margin-bottom: 20px;
	padding: 5px 10px;
}

form[name=SiebertForm] {
	margin-bottom: 20px;
	.form-horizontal {
		margin-top: 20px;
		@media (max-width: 534px) {
			.col-sm-7 {
				width: 100%;
			}
		}
		@media (min-width: 535px) {
			.make-grid(sm);
		    .control-label {
		      	text-align: right;
		      	margin-bottom: 0;
		      	padding-top: (@padding-base-vertical + 1); // Default padding plus a border
		    }
		}
	}
    .form-group > p {
    	margin-bottom: 5px;
    	font-weight: bold;
    }
	.form-group.variable {
		label {
			text-align: left;
			@media (max-width: 534px) {
				float: left;
				margin-top: 7px;
			}
			.description {
				font-weight:normal;
				white-space: nowrap;
			}
		}
		.input-group {
			float: left;
			min-width: 130px;
			margin-bottom: 5px;
			margin-left: 5px;
			margin-right: 5px;
			@media (max-width: 534px) {
				max-width: 170px;
			}
			@media (min-width: 535px) {
				margin-left: 0;
				margin-right: 0;
			}
			input {
				border-bottom-left-radius: 4px;
				border-top-left-radius: 4px;
			}
		}
		.variable-label {
			background-color: inherit;
			border: none;
			font-family: @font-family-serif;
			font-weight: bold;
			font-style: italic;
		}
		.variable-help {
			display: table;
			min-height: 28px;
			p {
				display: table-cell;
				vertical-align: middle;
			}
		}
		.has-error {
			.input-group-addon {
				color: inherit;
			}
			.variable-unit {
				background-color: @input-group-addon-bg;
			}
		}
	}
	.help-block.has-error {
		margin-top: 20px;
		margin-left: 15px;
		padding-top: 20px;
		color: @state-danger-text;
	}
	.form-group.buttons {
		margin-top: 20px;
	}
	input[type=radio] {
		margin-top: 0;
	}
    #nrPersons {
    	label {
    		margin-bottom: 0;
    		.help-block {
    			margin-top: 0;
    			margin-bottom: 5px;
    			font-weight:normal;
    		}
    	}
    	input {
    		width: 100px;
    	}
    }
	hr {
		border-color: #000;
		margin-bottom: 5px;
	}
}
