{% load static %}
{% load i18n %}
{% load compress %}
<!DOCTYPE html>
<html class="no-js" ng-app="outdoorconcept.app" manifest="{% static 'oc.appcache' %}">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'main/images/apple-touch-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'main/images/apple-touch-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'main/images/apple-touch-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'main/images/apple-touch-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'main/images/apple-touch-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'main/images/apple-touch-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'main/images/apple-touch-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'main/images/apple-touch-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'main/images/apple-touch-icon-180x180.png' %}">
  <link rel="icon" type="image/png" href="{% static 'main/images/favicon-32x32.png" sizes="32x32' %}">
  <link rel="icon" type="image/png" href="{% static 'main/images/favicon-194x194.png" sizes="194x194' %}">
  <link rel="icon" type="image/png" href="{% static 'main/images/favicon-96x96.png" sizes="96x96' %}">
  <link rel="icon" type="image/png" href="{% static 'main/images/android-chrome-192x192.png" sizes="192x192' %}">
  <link rel="icon" type="image/png" href="{% static 'main/images/favicon-16x16.png" sizes="16x16' %}">
  <link rel="manifest" href="{% static 'main/images/android-chrome-manifest.json' %}">
  <link rel="shortcut icon" href="{% static 'main/images/favicon.ico' %}">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-TileImage" content="{% static 'main/images/mstile-144x144.png' %}">
  <meta name="msapplication-config" content="{% static 'main/images/browserconfig.xml' %}">
  <meta name="theme-color" content="#ffffff">
  {% compress css %}
  <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui/themes/base/core.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui/themes/base/datepicker.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui/themes/smoothness/theme.css' %}">
  <link rel="stylesheet" type="text/less" href="{% static 'main/less/app.less' %}">
  {% endcompress %}
  <title>outdoorconcept</title>
</head>
<body ng-controller="AppController">
  <div id="content" class="container-fluid" ng-view></div>

  <div class="modal fade" id="appcacheDownloadedPopUp" tabindex="-1" role="dialog"
       aria-labelledby="appcacheDownloadedLabel" aria-hidden="true">
    <div class="modal-dialog" movable>
      <div class="modal-content alert-success">
        <div>
          <h4 id="appcacheDownloadedLabel">{% trans "This page is also available offline without internet connection." %}</h4>
          <div>
            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="appcacheUpdatedPopUp" tabindex="-1" role="dialog"
       aria-labelledby="appcacheUpdatedLabel" aria-hidden="true">
    <div class="modal-dialog" movable>
      <div class="modal-content alert-success">
        <div>
          <h4 id="appcacheUpdatedLabel">{% trans "The data have been updated." %}</h4>
          <div>
            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="storageDisabledAlert" class="alert alert-danger" role="alert">
    {% trans 'To view this page you have to turn off private browsing. For iPad, iPhone and iPod touch follow the instructions under <a href="http://support.apple.com/en-us/HT203036">http://support.apple.com/en-us/HT203036</a>. In older versions of iOS private browsing can be deactivated in the preferences for Safari.' %}
  </div>

  <script src="{% static 'ropeelements.js' %}"></script>
  {% compress js %}
  <script src="{% static 'main/js/debug.js' %}"></script>
  <script src="{% static 'modernizr/modernizr.js' %}"></script>
  <script src="{% static 'jquery/dist/jquery.js' %}"></script>
  <script src="{% static 'jquery-ui/ui/core.js' %}"></script>
  <script src="{% static 'jquery-ui/ui/datepicker.js' %}"></script>
  <script src="{% static 'jquery-ui/ui/i18n/datepicker-de.js' %}"></script>
  <script src="{% static 'angular/angular.js' %}"></script>
  <script src="{% static 'angular-route/angular-route.js' %}"></script>
  <script src="{% static 'angular-resource/angular-resource.js' %}"></script>
  <script src="{% static 'angular-sanitize/angular-sanitize.js' %}"></script>
  <script src="{% static 'bootstrap/js/transition.js' %}"></script>
  <script src="{% static 'bootstrap/js/modal.js' %}"></script>
  <script src="{% static 'ropeelements/js/directives.js' %}"></script>
  <script src="{% static 'ropeelements/js/controllers.js' %}"></script>
  <script src="{% static 'siebert/js/controllers.js' %}"></script>
  <script src="{% static 'main/js/directives.js' %}"></script>
  <script src="{% static 'main/js/routes.js' %}"></script>
  <script src="{% static 'main/js/app.js' %}"></script>
  {% endcompress %}
</body>
