{% load staticfiles %}
{% load i18n %}
{% load compress %}
<!DOCTYPE html>
<html class="no-js" ng-app="outdoorconcept.app" manifest="{% static 'cache.manifest' %}">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{% static 'main/images/favicon.ico' %}">
  {% compress css %}
  <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui/themes/base/core.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui/themes/base/datepicker.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui/themes/smoothness/theme.css' %}">
  <link rel="stylesheet" type="text/less" href="{% static 'main/less/app.less' %}">
  {% endcompress %}
  <title>outdoorconcept</title>
</head>
<body ng-controller="AppController">
  <div ng-cloak>DEBUG: {$ debug_msg $}</div>
  <div class="container-fluid" ng-view ng-cloak></div>
  {% compress js %}
  <script src="{% static 'modernizr/modernizr.js' %}"></script>
  <script src="{% static 'jquery/dist/jquery.js' %}"></script>
  <script src="{% static 'jquery-ui/ui/core.js' %}"></script>
  <script src="{% static 'jquery-ui/ui/datepicker.js' %}"></script>
  <script src="{% static 'jquery-ui/ui/i18n/datepicker-de.js' %}"></script>
  <script src="{% static 'angular/angular.js' %}"></script>
  <script src="{% static 'angular-route/angular-route.js' %}"></script>
  <script src="{% static 'angular-resource/angular-resource.js' %}"></script>
  <script src="{% static 'angular-sanitize/angular-sanitize.js' %}"></script>
  <script src="{% static 'bootstrap/js/modal.js' %}"></script>
  <script src="{% static 'ropeelements/js/directives.js' %}"></script>
  <script src="{% static 'ropeelements/js/controllers.js' %}"></script>
  <script src="{% static 'siebert/js/controllers.js' %}"></script>
  <script src="{% static 'main/js/directives.js' %}"></script>
  <script src="{% static 'main/js/routes.js' %}"></script>
  <script src="{% static 'main/js/app.js' %}"></script>
  {% endcompress %}
</body>
