{% load staticfiles %}
{% load i18n %}
{% load compress %}
<!DOCTYPE html>
<html class="no-js" xxx-ng-app="outdoorconcept.app">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- link rel="icon" type="image/x-icon" href="{% static 'main/images/favicon.ico' %}" -->
  {% compress css %}
  <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui/themes/base/core.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui/themes/base/datepicker.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui/themes/smoothness/theme.css' %}">
  <!-- link rel="stylesheet" type="text/less" href="{% static 'main/less/app.less' %}" -->
  {% endcompress %}
  <title>outdoorconcept</title>
</head>
<body xxx-ng-controller="AppController">
  <h1>TODO</h1>
</body>
