#id_text_de, #id_text_en {
	width: 55em;
}

#id_title_de, #id_title_en {
	width: 55em;
}

label[for="id_difficulty_to"] {
	width: 3em;
	text-transform: lowercase;
}

label[for="id_ssb"] {
	font-weight: normal !important;
}

.clearable-file-input {
	margin-left: 1em;
}
